<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teste</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script src="./script.js"></script>
    <!-- <p id="paragrafo" class="nome">Ola aqui tem um paragrafo</p> -->
    <input class="nome" type="text" placeholder="Digite um item: ">
    <button class="nome" onclick="adicionarItem();trocarItem()">Adicionar</button>
    <h1>Lista de Compras</h1>
    <ul></ul>
    <img src="/app/templates/images/imagem_certa.webp" alt="smoke im my mind">
</body>
</html>